input {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: inherit;

    &:focus {
        outline: none;
    }
}

.field {
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;

    &__input {
        width:100%;
    }

    &__label {
        width: 100%;
    }
}

.form {
    padding: 1rem;
    border: 1px solid black;

    // compose a classname using the parent classname
    &__child {
        margin-bottom: 2rem;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.field-group {
    // split the children into 2 columns
    // at 17rem wide, should be 1rem apart
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    & > .field {
        width: 100%;

        &:first-child {
            margin-right: 5.88%;
        }
    }
}
